{% extends 'base.html.twig' %}

{% block title %}Discovery Day - {{ discoveryDay.id }}{% endblock %}

{% block body %}
    <div>
        {% for message in app.flashes('success_registration') %}
            <p class="alert alert-success">{{ message }}</p>
        {% endfor %}
        <h4 class="table-title">{{ discoveryDay.title }}</h4>
        <table class="table table-show">
            <tbody>
                <tr>
                    <td>Date</td>
                    <td>{{ discoveryDay.date | date('Y-m-d H:i') }}</td>
                </tr>
                <tr>
                    <td>Minimum Rank</td>
                    <td>
                        <img src="{{ asset('img/' ~ discoveryDay.minimumRank.name ~ '.png') }}" alt="" class="img-rank">
                        {{ discoveryDay.minimumRank.name }}
                    </td>
                </tr>
                <tr>
                    <td>Number of participants</td>
                    <td>{{ discoveryDay.registredUsers|length }}/{{ discoveryDay.maxParticipant }}</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>{{ discoveryDay.location }}</td>
                </tr>
                <tr>
                    <td>Organizer</td>
                    <td>{{ discoveryDay.organizer.fullName }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if discoveryDay.photos is not empty %}
        <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                {% for i in 0..(discoveryDay.photos|length - 1) %}
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="{{ i }}" {% if i == 0 %}class="active" aria-current="true"{% endif %} aria-label="{{ i }}"></button>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for photo in discoveryDay.photos %}
                <div class="carousel-item {% if photo == discoveryDay.photos.first() %}active{% endif %}">
                    <img class="d-block w-100" src="{{ asset('img/uploads/'~photo.filename) }}" alt="">
                </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% endif %}

    {% if discoveryDay.comments is not empty %}
        <div class="comment">
            {% for comment in discoveryDay.comments %}
                <div>
                    <div class="comment-profile">{{ comment.user.fullname }} <span class="comment-date">({{ comment.createdAt|date('Y-m-d H:i:s') }})</span></div>
                    <p class="comment-text">{{ comment.text }}</p>
                </div>
                <hr>
            {% endfor %}
        </div>
        <br>
    {% endif %}

    {% if form != null %}
        <div>
            {{ form_start(form, {attr: {id: 'form-comment', novalidate: 'novalidate'}}) }}

            {{ form_widget(form.text, {attr: {class: 'input-comment', rows: 5}}) }}
            {{ form_errors(form.text) }}

            {{ form_end(form) }}
        </div>
    {% endif %}

    {% if
        discoveryDay.date|date() > "now"|date()
        and is_granted('IS_AUTHENTICATED_REMEMBERED')
        and app.user not in discoveryDay.registredUsers
        and app.user.rank.id >= discoveryDay.minimumRank.id
    %}
        <div>
            <button class="btn btn-primary btn-submit-modal"
                    id="get-register-data-btn"
                    data-bs-toggle="modal"
                    data-bs-target="#register-modal"
            >
                Register
            </button>
        </div>
        {% include 'discovery_day/_modal_register.html.twig' %}
    {% endif %}

    <iframe
            id="map"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed/v1/place?key={{ google_maps_api_key }}&q={{ discoveryDay.location }}">
    </iframe>
{% endblock %}
