{% extends 'base.html.twig' %}

{% block title %}My Space{% endblock %}

{% block body %}
<div>
    <div>
        <h4 class="table-title">Upcoming Discovery Days</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Organizer</th>
                <th>Location</th>
                <th>Participants</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for registration in upcomingRegistrations %}
                <tr>
                    <td>{{ registration.discoveryDay.title }}</td>
                    <td>{{ registration.discoveryDay.date|date('Y-m-d') }}</td>
                    <td>{{ registration.discoveryDay.organizer.fullName }}</td>
                    <td>{{ registration.discoveryDay.location }}</td>
                    <td>{{ registration.discoveryDay.registredUsers|length }}/{{ registration.discoveryDay.maxParticipant }}</td>
                    <td>
                        <a href="{{ url('discovery_day.show', {id: registration.discoveryDay.id}) }}">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <h4 class="table-title">Past Discovery Days</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Organizer</th>
                <th>Location</th>
                <th>Participants</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for registration in pastRegistrations %}
                <tr>
                    <td>{{ registration.discoveryDay.title }}</td>
                    <td>{{ registration.discoveryDay.date|date('Y-m-d') }}</td>
                    <td>{{ registration.discoveryDay.organizer.fullName }}</td>
                    <td>{{ registration.discoveryDay.location }}</td>
                    <td>{{ registration.discoveryDay.registredUsers|length }}/{{ registration.discoveryDay.maxParticipant }}</td>
                    <td>
                        <a href="{{ url('discovery_day.show', {id: registration.discoveryDay.id}) }}">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
